{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class='container'>
            <div class='row mt-5'>
                <div class="p-3 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

            </div>

        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class='container p-4'>
        <div class='row'>
            <div class="col-lg-6 col-12 col-md-12 mt-5 text-center image-details-container" data-aos="zoom-out" data-aos-duration="1000">
                <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" class="image-details-connexion" style="width: 380px;">
            </div>

            <div class='col-12 col-lg-6 col-md-12'>
                <div class='p-2'>
                    <h3 class='text-center mt-3 p-3'>Se connecter</h3>
                </div>
                <div class='form-group'>
                    <label class='py-3' for="inputEmail">Votre Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style='height:55px;border:none;background-color:#eee'>
                </div><br>
                <div class='form-group'>
                    <label class='py-3' for="inputPassword">Mot de passe</label><br>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required style='height:55px;border:none;background-color:#eee'>
                </div><br>
                <div class='form-group'>
                    <label>
                        <input type="checkbox" name="_remember_me"> Rester connecté
                    </label>
                </div><br>
                <div class='form-group'>
                    <button class="btn btn-lg btn-primary form-control" type="submit">
                        Se connecter
                    </button>
                </div>
                <div class='form-group'>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </div>

        </div>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

    #}

    
</form>
{% endblock %}
